src/main/mule/error-handling-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="error-handling-3Flow" doc:id="8bd1c507-03b9-4dd4-8680-4748dda3b038" >
		<http:listener doc:name="Listener" doc:id="d54fa189-1bcc-40b5-9584-1e092097d8cb" config-ref="HTTP_Listener_config" path="/error3pro"/>
		<set-payload value='#["Before Http Request"]' doc:name="Before Http Request" doc:id="20813b24-55e8-4678-9c45-3cec174290b6" />
		<flow-ref doc:name="error-handling-3Flow1" doc:id="dd542764-fa59-493a-9bf7-105cb9883494" name="error-handling-3Flow1"/>
		<set-payload value='#["Success"]' doc:name="Success" doc:id="2b438ccc-3384-4cdf-af7a-48419bc294ac" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="15e98d5e-7765-488e-bddf-24e5f4a747b5" type="ANY">
				<set-payload value='#["Inside Main Error Handling"]' doc:name='"Inside Main Error Handling"' doc:id="a16c7f03-b542-4272-8847-bbb3ff4723fb" />
				<logger level="INFO" doc:name="Logger" doc:id="543622a5-691a-4fbb-9f2f-a8833a8803a9" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="error-handling-3Flow1" doc:id="f8162ed2-d561-4a0c-8d3a-e9105622f94b" >
		<http:request method="GET" doc:name="Request" doc:id="226f1bc1-8a04-4924-a802-0aa03c70c96a" config-ref="HTTP_Request_configuration" url="cdd.sdsd.com"/>
		<set-payload value='#["After Http Request in private Flow"]' doc:name='"After Http Request in private Flow"' doc:id="6c3eacaa-0efd-4c39-bde3-72e94362bc76" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b2ab7d45-4235-47f1-93e0-e52f6f98aac8" type="ANY">
				<set-payload value='#["Inside Private Error Handling"]' doc:name='"Inside Private Error Handling"' doc:id="0fb6f910-aeb6-4388-8e10-8cb1eafdda38" />
				<logger level="INFO" doc:name="Logger" doc:id="2a29bdb1-3e9d-49da-8590-0bcfa08d21fb" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="error-handling-3Flow2" doc:id="a81ba46d-621b-49d6-84e6-be9fd5e51856" >
		<http:listener doc:name="Listener" doc:id="49ee0c61-1d03-4acb-97c9-c706826c8e7c" config-ref="HTTP_Listener_config" path="/error3con" >
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='#["Before Http Request"]' doc:name="Before Http Request" doc:id="138943a5-0ff7-4a2c-b765-c3408a4f93f0" />
		<flow-ref doc:name="error-handling-3Flow" doc:id="97bd3d4a-1753-497e-97cf-3ad77a3a358f" name="error-handling-3Flow3" />
		<set-payload value='#["Success"]' doc:name="Success" doc:id="7a4496fd-89bd-480f-930a-8a0fc3d4f6bd" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6c2f9960-006c-4ac9-9751-c27c72bb832c" type="ANY" >
				<set-payload value='#["Inside Main Error Handling"]' doc:name='"Inside Main Error Handling"' doc:id="ef452fb3-62fc-43a5-b98e-364a8151153f" />
				<logger level="INFO" doc:name="Logger" doc:id="e7a6ee80-d2ce-4478-b249-b231fa34b96e" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="error-handling-3Flow3" doc:id="2461def8-870f-4ad5-8300-71ed3fa427a5" >
		<http:request method="GET" doc:name="Request" doc:id="98a9f852-8f51-471a-9614-489dbe17b155" config-ref="HTTP_Request_configuration" url="cdd.sdsd.com" />
		<set-payload value='#["After Http Request in private Flow"]' doc:name='"After Http Request in private Flow"' doc:id="4b30bc94-6340-4280-8143-7382ef4ff3b0" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="84a82c48-cd94-4bca-a9cd-bb54d5c79001" >
				<set-payload value='#["Inside Private Error Handling"]' doc:name='"Inside Private Error Handling"' doc:id="821ee304-b869-41f3-815e-97502859fab7" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
